@import url('https://fonts.googleapis.com/css?family=Margarine|Roboto+Condensed');

@import './partials/card.scss';
@import './partials/character.scss';
@import './partials/header.scss';

body {
  background-color: #b9eed3;
  font-family: 'Roboto Condensed', serif;
}

h1, h2 {
  font-family: 'Margarine', cursive;
}